  .emailField, .send{
      margin-left: 10px;
  }

  .category, .messageBox{
     width: 46%;
  }
  @media only screen and (max-width: 768px) {

    .emailField{
        margin-left: 0px;
    }

    .send{
        margin-left: 3px;
    }
}