.flex-main {
    margin: 50px;
    display: flex;
    flex: 1;
}

.left-card {
    flex: 1 1 5rem;       
}


.right-card {
    flex: 3 3 ; 
    padding-top: 3rem;
    padding-left: 3rem;
}


.note{
    font-family: "Segoe Print";
    font-size: medium;
    line-height: 250%;
}

h1{
    font-size: 4rem;
    font-family: "Segoe Script";
    text-align: center;
    color: #4169E1;
  }

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
        margin: 5px;
    }

    .right-card {
        flex: 3 3 ; 
        padding-left: 1rem;
    }
}