<div class="flex-container">
    <div class="flex-item-left">
        <mat-card class="about-card mat-elevation-z12">
            <mat-card-header>
                <mat-card-title>Biswajit Sundara</mat-card-title>
                <mat-card-subtitle>SDET Lead</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/about-img.png" alt="Photo of a Shiba Inu">
        
            <mat-card-actions align="end">
                <a href="https://in.linkedin.com/in/biswajitsundara" target="_blank"><button mat-stroked-button>+
                        LinkedIn</button></a>
            </mat-card-actions>
        </mat-card>

    </div>
    <div class="flex-item-right">
        <h1>The Story</h1>
        <div class="note">
            <p>We were at <b>Sprint Retrospective</b> call discussing over how to improve the user story cycle time because due to dependencies with other teams, change in requirement the user stories were reaching D7-D8 and there was less time left for testing and developing automation scripts.</p>
            <p>We had excellent team culture and always ready to help each other. I thought why can't I learn and share some work with our developers, after all that's the job of a true SDET</p>
            <p>I proposed the idea and created this action item for me to explore on Angular and Spring Boot. And applying all my learnings so far I have built this application</p>
            <p>This is a responsive web application with few features, I am planning to build more components in the future. So stay connected</p>
            <p>To access the web application use these credentials <b>username: </b>user <b> password: </b>test</p>
        </div>
    </div>
  </div>



