<style>
body
{
  max-width:100%;overflow-x:hidden;background-color:#fff;font:normal 14px Arial,Helvetica,sans-serif;color:#777
}

h1,h2,h3,h4,h5,h6
{
   color:#444
}

.header-upper
{
   min-height:50px; margin:0 0 25px; border-bottom:1px solid #ddd;padding:0 0 15px;
}

.header-title
{
   min-height:50px;margin:0 0 25px;border-bottom:1px solid #ddd;padding:0 0 15px;
   font-size:30px;font-weight:normal;
}


.header-links
{
  position: absolute;
  top: 10px;
  right:20px;  
}

.header-links a:link, a:visited 
{
  background-color: white;
  color: black;
  border: 2px solid grey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:Georgia, serif;
}

.header-links a:hover, a:active {
  background-color: grey;
  color: white;
}

#myCarousel
{
   width:50%;
}

.existingCustomer
{
  padding: 2px 26px;
  position:absolute;
  right:150px;
  top:150px;  

  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; 
}

.forgetpswd
{
  padding: 2px 26px;
  
  background-color: #fefefe;
  border: 1px solid #888;
  width: 30%; 
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.footer {
  padding: 20px;
  background-color:#eee;
  margin-top: 20px;
}

.footercolumn {
  float: left;
  width: 21%;
  padding: 15px;
  list-style-type: none;
  line-height: 200%;
}


.footerrow:after 
{
  content: "";
  display: table;
  clear: both;
}

ul#footerlinks li {
  display:inline;
}

/* alert box */
#alertbox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 250px;
  top: 150px;
  width: 50%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,99,71); /* Fallback color */
  padding-top: 60px;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover 
{
  color: black;
}

</style>