
  .email, .city,  .btnRegister{
      margin-left: 10px;
  }

  .bar{
      width: 70%;
  }
  @media only screen and (max-width: 768px) {

    .email, .city,  .btnRegister{
        margin-left: 3px;
    }
}