.container{
    width:40em;
    margin-left:35em;
    margin-top:10em;
}
.container h1{
    text-align: center;
    font-size: 120%;
    padding: 0.5rem;
}
mat-card{
    padding: 2em;
}

.pwd, .uname{
    text-align: center;
    margin-left: 10em;
}


p{
    padding: 1em;
    text-align: center;
    color: #4682B4;
}

.register{
   margin-right: 2em;
   margin-top: 1em;
   text-decoration: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .container{
        width:30em;
        margin-left:1em;
        margin-top:5em;
    }
   
    .uname, .pwd{
        margin-left:5em;
    }

    .errorMsg{
        font-size: 0.8rem;
        width: 20rem;
    }

}


