/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/**
   This is the container used for all components
**/

.content {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
}


/**
    Below styles are for error messages
**/

i.succIcon {
    display: inline-block;
    text-align: center; 
    font-style: normal;
    font-weight: bold;
  
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: large;
    background:  green;
    opacity: 0.5;
    border: 1px solid  green;
    color: white;
    margin-right: 5px;
  }
  
  i.errIcon {
    display: inline-block;
    text-align: center; 
    font-style: normal;
    font-weight: bold;
  
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    
    font-size: large;
    color: #ffe0e0;
    background:  #ba3939;
    opacity: 0.5;
    border: 1px solid #f5c6cb;
    margin-right: 5px;
  }
  
  
  /* THE BASE */
  .bar {
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
  }
  
  /* THE VARIATIONS */
  .info {
    color: #204a8e;
    background: #c9ddff;
    border: 1px solid #4c699b;
  }
  
  .success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
  }
  .warn {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
  }
  .error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
   .bar{
       width:auto;
   }    
}